@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
	background-color: #edeef0;
	font-family: 'Roboto', sans-serif;

	// background: rgb(236,140,0);
	// background: linear-gradient(0deg, rgba(236,140,0,1) 10%, rgba(255,132,0,1) 15%);
}

.site-header-wrapper {
	display: flex;
	justify-content: space-between;
	
	width: 1105px;
	margin: 0 auto;
}

.site-content-wrapper {
	width: 1105px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}


