.content {
  &__section-title {
    font-size: 16px;
    font-weight: 400;

    padding: 0 7px 15px 7px;
  }

  &__game {
    margin-top: 20px;

    padding: 15px 7px 2px 7px;
    border-radius: 3px;
    background-color: #fff;

    // game list
    &__list {
      display: flex;
      flex-wrap: wrap;

      margin-top: 5px;
    }

    // game item
    &-item {
      margin: 0 7px 15px 7px;
      border-radius: 3px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

      &:hover {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
      }

      &-cover-wrapper {
        height: 240px;
      }

      &-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-info-wrapper {
        position: relative;
        padding: 15px;
      }

      // game header
      &-header {
        display: flex;

        height: 15px;
      }

      // game content
      &-content {
        display: flex;
        margin: 10px 0;
      }

      &-description {
        margin: auto 0;
        max-width: 175px;
      }

      &-title {
        font-size: 16px;
        font-weight: 700;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &-text {
        margin-top: 5px;

        font-size: 12px;
        line-height: 12px;

        overflow: hidden;
      }

      // game footer
      &-footer {
        display: flex;

        justify-content: space-between;
      }
    }
  }

  // bookmark
  &__bookmark-wrapper {
    display: flex;
    position: relative;
  }

  &__bookmark {
    position: absolute;
    top: -5px;
    right: 17px;

    visibility: hidden;
    font-size: 31px;
    cursor: pointer;

    &:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 700;
      content: "\f02e";

      color: #c9c9c9;
      visibility: visible;
    }

    &:checked:before {
      color: #ff3333;
    }

    &:hover:before {
      color: #ff3333;
    }
  }

  // rating
  &__game-rating {
    display: flex;

    font-size: 13px;
    font-weight: 700;
    color: #c9c9c9;

    &-stars {
      display: flex;
      align-items: center;
    }

    &-avg {
      display: flex;
    }

    &-votes {
      display: flex;

      &::after {
        content: "-";
        margin: 0 3px;
      }

      &-count {
        margin-left: 3px;
        
        &::before {
          content: "(";
        }
        &::after {
          content: ")";
        }
      }
    }
  }

  // console
  &__console {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 3px;
      font-size: 18px;
      color: #c9c9c9;
    }
  }

  // buy game
  &__buy-game-button {
    display: flex;
    align-items: center;
    padding: 4px 12px;

    min-width: 80px;

    background-color: transparent;
    border: 2px solid $orange;
    border-radius: 3px;

    font-size: 14px;
    font-weight: 700;

    color: $orange;

    &:hover {
      color: #fff;
      background-color: $orange;

      transition: 0.3s;
    }
  }

  &__game-price {
    display: flex;
    margin: 0 auto;

    &::after {
      content: "\20BD";
    }
  }

  // POPULAR
  &__game-popular {
    &-item {
      display: flex;
      width: 375px !important;

      &-cover-wrapper {
        height: 240px;
        min-width: 165px;
        max-width: 165px;
      }

      &-cover {
        border-radius: 3px 0 0 3px;
      }

      &-info-wrapper {
        min-width: 210px;
        max-width: 210px;
      }

      &-content {
        margin-bottom: 19px;
      }

      &-text {
        height: 113px;

        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  // glide slider for popular games section
  .glide__slides {
    display: flex;
  }

  // ALL GAMES
  &__game-all {
    font-size: 14px;

    &-item {
      width: 223px;

      &-cover {
        border-radius: 3px 3px 0 0;
      }

      &-text {
        height: 49px;
      }
    }
  }
}