.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  height: 65px;

  &__left-side {
    display: flex;
    margin-left: 20px;
  }

  &__right-side {
    display: flex;
    margin-right: 20px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;

    margin-left: 5px;
  }

  // logo
  &__logo {
    &-wrapper {
      margin-right: 20px;
      color: $gray;

      &:hover {
        color: $orange;
        transition: 0.3s;
      }
    }

    &-icon {
      fill: currentColor;
    }
  }

  // search
  &__search-wrapper {
    display: flex;
    height: 35px;
  }

  &__search-input {
    width: 350px;
    padding: 5px 10px;

    color: $gray;
    font-size: 14px;

    border: 2px solid $orange;
    border-radius: 3px 0 0 3px;
  }

  &__search-button {
    position: relative;
    width: 100px;

    background-color: $orange;
    color: #fff;

    font-size: 14px;
    font-weight: 500;

    border-radius: 0 3px 3px 0;

    &:hover {
      color: $gray;
      transition: 0.3s;
    }
  }

  // favorite
  &__favorite {
    display: flex;

    &-wrapper {
      padding: 0 15px;

      color: $gray;

      &:hover {
        color: $orange;
        transition: 0.3s;
      }
    }

    &-icon {
      fill: currentColor;
    }
  }

  // add game
  &__add-game {
    display: flex;

    &-button {
      display: flex;
      align-items: center;

      // padding: 5px 5px 5px 8px;
      padding: 4px 1px 4px 6px;
      border-radius: 3px;

      color: #fff;
      background-color: $orange;

      &:hover {
        background-color: $gray;
        transition: 0.3s;
      }
    }

    &-icon {
      fill: currentColor;
    }
  }
}
