.icon-add-game {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-favorite {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gamepad {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-nintendo {
  width: 1em;
  height: 1em;
  fill: #c9c9c9;
}
.icon-pc {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-ps4 {
  width: 1em;
  height: 1em;
  fill: #030104;
}
.icon-xbox {
  width: 1em;
  height: 1em;
  fill: initial;
}
