.icon-add-game {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: none;
}
.icon-favorite {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gamepad {
  width: 1em;
  height: 1em;
  fill: initial;
}
